@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    min-height: 920px;
    align-items: center;
    background-color: pink;
}

/*Informações do Login*/

#login{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #ffffff;
    padding: 40px;
    min-width: 400px;
    min-height: 300px;
    border-radius: 30px;
    border: 2px solid black;
}

.form button {
    align-self: flex-end;
}

.flex-column > label {
    color: #151717;
    font-weight: 600;
}
  
.inputForm {
    border: 2px solid #b6b6b6;
    border-radius: 10px;
    height: 50px;
    padding-left: 20px;
    transition: 0.75s ease-in-out;
}
  
.input {
    margin-left: 20px;
    border-radius: 15px;
    border: none;
    width: 85%;
    height: 100%;
}
  
.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 2px solid #2d79f3;
}
  
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
  
.flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}
  
.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}
  
.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
  
.button-submit:hover {
    background-color: #252727;
}
  
.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}
  
.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1.5px solid #2d79f3;
}

/*Informações do Cadadastro*/
#cadastrar{
    display: none;
    flex-direction: column;
    gap: 50px;
    background-color: #ffffff;
    padding: 40px;
    min-height: 250px;
    border-radius: 30px;
    border: 2px solid black;
}

#sexos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-icon{
    width: 25px;
    height: 25px;
}