.calendar {
    display: grid;
    border: solid 2px;
    border-radius: 15px;
    aspect-ratio: 8/6;
    min-width: 200px;
    max-width: fit-content - 4px;
    margin: 10px;
    grid-template: 12.5% 12.5% 75% / auto;
    background-color: #F9F5FF;
    padding: 0px;
    width: 400px;
}

#DiasDaSemana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    border: solid 1px transparent;
    grid-column: 1/-1;
    padding: 0px;
    background-color: #D4C2FC;
    grid-row: 2;
}
.FramesSemana {
    border: solid 1px #0f091f;
    text-align: center;
    border-top: none;
    align-content: center;
    margin-top: -2px;
    border-left: none;
}
.borderlessRight {
    border-right: none;
}

#DiasDoMes{
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(7, 1fr); 
    grid-column: 1/-1;
    table-layout: fixed;
    border: solid 1px transparent;
    padding: 0px;
    margin-bottom: -2px;
    grid-row: 3;
}

#MonthHeader {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1/-1;
    padding: 0px;
    grid-row: 1;
}


.borderlessDown {
    border-bottom: none;
}

#dataDiv {
    grid-column: 2/7;
    text-align: center;
    align-content: center;
    font-size: 25px;
}

.monthContent {
    grid-row: 1;
    border: none;
    border-bottom: 2px solid black;
}

.monthButton{
    border-radius: 15px 15px 0px 0px;
}