.calendar {
    display: grid;
    border: solid 2px;
    border-radius: 8px;
    aspect-ratio: 8/6;
    min-width: 200px;
    max-width: fit-content - 4px;
    margin: 10px;
    grid-template: 15% 85% / auto;
    background-color: #F9F5FF;
    padding: 0px;
}

#DiasDaSemana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    border: solid 1px transparent;
    border-radius: 5px 5px 0px 0px;
    grid-column: 1/-1;
    padding: 0px;
    background-color: #D4C2FC;
}
.FramesSemana {
    border: solid 1px #0f091f;
    text-align: center;
    border-top: none;
    align-content: center;
    margin-top: -2px;
    border-left: none;
}

.borderlessRight {
    border-right: none;
}

#DiasDoMes{
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr); 
    grid-column: 1/-1;
    table-layout: fixed;
    border: solid 1px transparent;
    padding: 0px;
    margin-bottom: -2px;
}

.borderlessDown {
    border-bottom: none;
}