*{
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
    min-height: 920px;
    align-items: center;
    justify-content: center;
    background-color: pink;
    gap: 80px;
}

.div1{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 800px;
    height: 900px;
    gap: 10px;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 80px;
    width: 1900px
}

.minhas_consultas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
    background-color: #151717;
    color: white;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 10px;
    height: 150px;
    width: 1900px;
}

.DIV_profissionais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.profissionais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 5px 0;
    color: white;
    background-color: #151717;
    font-size: 15px;
    font-weight: 250px;
    border-radius: 10px;
    height: 50px;
    width: 800px;

}

.DIV_procedimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.DIV_procedimentos .option{
    background: #fff;
  height: 100px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}


.DIV_procedimentos .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

input[type="radio"]{
    display: none;
  }
  
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }





  #option-3:checked:checked ~ .option-3,
  #option-4:checked:checked ~ .option-4{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-3:checked:checked ~ .option-3 .dot,
  #option-4:checked:checked ~ .option-4 .dot{
    background: #fff;
  }
  #option-3:checked:checked ~ .option-3 .dot::before,
  #option-4:checked:checked ~ .option-4 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-3:checked:checked ~ .option-3 span,
  #option-4:checked:checked ~ .option-4 span{
    color: #fff;
  }




  #option-5:checked:checked ~ .option-5,
  #option-6:checked:checked ~ .option-6{
    border-color: #0069d9;
    background: #0069d9;
  }
  #option-5:checked:checked ~ .option-5 .dot,
  #option-6:checked:checked ~ .option-6 .dot{
    background: #fff;
  }
  #option-5:checked:checked ~ .option-5 .dot::before,
  #option-6:checked:checked ~ .option-6 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-5:checked:checked ~ .option-5 span,
  #option-6:checked:checked ~ .option-6 span{
    color: #fff;
  }  
