*{
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
    min-height: 920px;
    align-items: center;
    justify-content: center;
    background-color: pink;
    gap: 80px;
}

.div1{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 800px;
    height: 900px;
    gap: 10px;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 80px;
    width: 1900px
}

.minhas_consultas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
    background-color: #151717;
    color: white;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 10px;
    height: 150px;
    width: 1900px;
}

.DIV_profissionais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.profissionais{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 5px 0;
    color: white;
    background-color: #151717;
    font-size: 15px;
    font-weight: 250px;
    border-radius: 10px;
    height: 50px;
    width: 800px;

}

.DIV_procedimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.procedimentos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 5px 0;
    color: white;
    background-color: #151717;
    font-size: 15px;
    font-weight: 250px;
    border-radius: 10px;
    height: 80px;
    width: 350px;
}