@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(171, 223, 223);
    padding: 10px;
    row-gap: 10px;
    min-width: 410px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ee91ad;
  color: black;
  font-size: 15px;
  font-weight: 500px;
  border-radius: 15px;
  height: 100px;
  width: 100%;
  padding: 10px;
}

.titulos h1{
 font-size: 25px;
 width: 200px;
}

ion-icon{
  width: 70px;
  height: 70px;
}

.DIV_pp {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  background-color: #ee91ad;
  border-radius: 15px;
  width: 100%;
  min-width: 25%;
  padding: 10px;
  flex-wrap: wrap;
}

.img{
  width: 50%;
  min-width: 50px;
  border-radius: 10px;
}

.DIV_pp .option{
  background: #f5f5f7;
  height: 80px;
  width: 10%;
  min-width: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 16px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.4s ease;
}

input[type="radio"] {
    display: none;
}

#option-Kattlen:checked:checked ~ .option-Kattlen,
#option-Laila:checked:checked ~ .option-Laila {
  background: #0069d9;
}
#option-Kattlen:checked:checked ~ .option-Kattlen span,
#option-Laila:checked:checked ~ .option-Laila span{
  color: #f5f5f7;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4,
#option-5:checked:checked ~ .option-5,
#option-6:checked:checked ~ .option-6{
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span,
#option-4:checked:checked ~ .option-4 span,
#option-5:checked:checked ~ .option-5 span,
#option-6:checked:checked ~ .option-6 span{
  color: #f5f5f7;
}

.dias {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #ee91ad;
  border-radius: 15px;
  column-gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 10px;  
}

#titulo-dia {
  display: flex;
  justify-content: flex-start;
}

#horasEdias{
  display: flex;
  flex-direction: row;
  height: fit-content;
  column-gap: 10px;
  width: 100%;
}

#select-calender {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#select-day {
  padding: 10px;
  height: 360px;
  width: 40%;
  min-width: 125px;
  min-height: 180px;
  background-color: #F9F5FF;;
  overflow: auto;
}

.list-horas {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  height: 380px;
  min-height: 380px;
  width: 70%;
}

.horas {  
  padding: 10px;
  height: 360px;
  width: 250px;
  min-width: 125px;
  min-height: 180px;
  background-color: #F9F5FF;
  overflow: auto;
}

.label-dia {
  font-size: 25px;
  display: flex;
  align-items: center;
  position: sticky;
  height: 40px;
  width: 100%;
}
.single-hour {
  margin-top: 10px;
  border-radius: 15px;
  width: 100%;
  height: 80px;
  background-color:#0f0;
  z-index: 2;
}
.single-hour:hover{
  cursor: pointer;
  background-color: rgb(130, 194, 34);
}
.titulo-dia {
  background-color: #ee91ad;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
}

#final {
  justify-content: center;
  height: fit-content;
}

#final:hover {
  cursor: pointer;
  background-color: #eba8bc;
}

#final:active {
  cursor: default;
  background-color: #ee91ad;
}

/* ficar responsivo */
@media (max-width: 1920px) {
  .minhas_consultas {
      max-height: 1080px;
  }

  .cartao-consulta {
      font-size: 14px;
  }
}
